<!DOCTYPE html>
<html lang="en"
xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/commons::head">
</head>
<link rel="stylesheet" href="/css/reset-css.css">
<body>
<header th:replace="fragments/commons::nav">
</header>
        <div class="home-main">
            <div class="home-hero section-container">
                <div class="home-max-width max-width-container">
                    <div class="home-hero1">
                        <div class="home-container03">
                            <div class="home-info">
                  <span class="home-text12">
                    <span>Featured </span>
                    <br />
                    <span>Articles - 2024</span>
                  </span>
                            </div>
                            <h1 class="home-text16 Heading-1">THE ANCIENT WORLD</h1>
                            <div class="home-container04">
                                <span class="home-text17">The modern world</span>
                                <span class="home-text18">may look very different from the world that existed in the time of ancient civilizations,
                                    but our modern-day life continues to show the influence of cultures, traditions,
                                    ideas, and innovations from hundreds of years ago.
                                    Learn more about important historical civilizations, sites, people, and events.</span>
                            </div>
                            <div class="home-btn-group">
                                <button class="button">Explore</button>
                            </div>
                        </div>
                        <img alt="image23271449" src="/images/greek.jpg" class="home-image5" />
                    </div>
                </div>
            </div>
            <div class="section-container column">
                <div class="max-width-container">
                    <div class="section-heading-section-heading">
                        <h1 class="section-heading-text Heading-2">
                            <span>Featured Articles</span>
                        </h1>
                        <span class="section-heading-text1">
                <span>
                  Start read over based on the categories you are interested in
                </span>
              </span>
                    </div>
                    <div class="home-cards-container">
                        <div class="category-card-category-card">
                            <img alt="image" src="/images/egypt.jpg" class="category-card-image" />
                            <span class="category-card-text"><span>Egypt</span></span>
                        </div>
                        <div class="category-card-category-card">
                            <img alt="image" src="/images/greek.jpg" class="category-card-image" />
                            <span class="category-card-text"><span>Ancient Greece</span></span>
                        </div>
                        <div class="category-card-category-card">
                            <img alt="image" src="/images/rome.jpg" class="category-card-image" />
                            <span class="category-card-text"><span>Rome Empire</span></span>
                        </div>
                        <div class="category-card-category-card">
                            <img alt="image" src="/images/Mesopotamian-innovations.jpg" class="category-card-image" />
                            <span class="category-card-text"><span>Mesopotamia</span></span>
                        </div>
                        <div class="category-card-category-card">
                            <img alt="image" src="/images/incas.jpg" class="category-card-image" />
                            <span class="category-card-text"><span>Central America</span></span>
                        </div>
                        <div class="category-card-category-card">
                            <img alt="image" src="/images/atzetecs.jpg" class="category-card-image" />
                            <span class="category-card-text">
                  <span>Andean Region</span>
                </span>
                        </div>
                        <div class="category-card-category-card">
                            <img alt="image" src="./images/pic8.jpg" class="category-card-image" />
                            <span class="category-card-text">
                  <span>Stone Age</span>
                </span>
                        </div>
                    </div>
                </div>
                <div class="home-banner">
                    <div class="home-container05">
                        <h3 class="home-text19 Heading-3">Ancient World</h3>
                        <span class="home-text20">
                <span></span>
                <span>articles</span>
              </span>
                    </div>
                </div>
                <div class="home-container06 max-width-container">
                    <div class="home-container07">
              <span class="home-text23">
                <span>
                  Ancient History Portal are unique publisher of ancient history articles,
                  user-made,
                </span>
                <br />
                <span>history articles, since 1999.</span>
                <br />
                <span>
                    Studying history helps us gain a more nuanced understanding of the world we live in today.
                    Our knowledge and interpretation of history shape how we define ourselves as nations and as cultures,
                    and it influences how we see and interact with other cultures. We help people across the globe gain a deeper,
                    fundamental knowledge of our interconnected human past in order to create curious,
                    open-minded, and tolerant societies in the future.
                  Our legacy guarantees exceptional article quality, unique
                  content and special topics for all of our article line-up.

                </span>
              </span>
                        <button class="button">Read more</button>
                    </div>
                </div>
            </div>
            <div class="home-full-width-banner section-container">
                <div class="home-left4">
                    <div class="home-content">
                        <span class="home-text29">Our Mission</span>
                        <span class="home-text30">
                Our mission is to engage people with cultural heritage and to improve history education worldwide.
              </span>
                    </div>
                    <div class="home-btn button">
                        <span class="home-text31">Explore now</span>
                    </div>
                </div>
                <img alt="Rectangle13271410" src="/images/aswan.jpg" class="home-image6" />
            </div>
            <div class="section-container">
                <div class="max-width-container">
                    <div class="section-heading-section-heading section-heading-root-class-name">
                        <h1 class="section-heading-text Heading-2">
                            <span>Our blog</span>
                        </h1>
                        <span class="section-heading-text1">
                <span>
                  Read the latest news and history related articles
                </span>
              </span>
                    </div>
                    <div class="home-container08">
                        <div class="blog-post-card-blog-post-card blog-post-card-root-class-name">
                            <img alt="image" src="./images/tobaco.jpg" class="blog-post-card-image" />
                            <div class="blog-post-card-container">
                  <span class="blog-post-card-text">
                    <span>A Brief History of Tobacco in the Americas</span>
                  </span>
                                <span class="blog-post-card-text1">
                    <span>
                     The history of tobacco use in the Americas goes back over 1,000 years when natives of the region chewed or smoked the leaves of the plant now known as Nicotiana rustica (primarily in the north) and Nicotiana tabacum (mostly in the south). After European colonization, tobacco would become the most profitable crop exported from the Americas.

This plant grew wild but came to be cultivated by the natives for use in religious rituals and hunting parties as it was thought
                        to expand the mind and heighten one's sensations overall. After 1492 CE,
                        European colonization of the West Indies and South and Central America shifted the focus of tobacco to
                        recreational use. By the mid-1500s CE,
                        tobacco had become the most profitable export from the Spanish and Portuguese colonies of the Americas,
                        primarily Nicotiana tabacum.
                    </span>
                  </span>
                                <a href="#" class="button">
                                    Read more
                                </a>
                            </div>
                        </div>
                        <div class="blog-post-card-blog-post-card">
                            <img alt="image" src="./images/pic11.jpg" class="blog-post-card-image" />
                            <div class="blog-post-card-container">
                  <span class="blog-post-card-text">
                    <span>Unique natural color combinations</span>
                  </span>
                                <span class="blog-post-card-text1">
                    <span>
                      Consectetur adipiscing elit duis tristique sollicitudin
                      nibh
                    </span>
                  </span>
                                <a href="#" class="button">
                                    Read more
                                </a>
                            </div>
                        </div>
                        <div class="blog-post-card-blog-post-card">
                            <img alt="image" src="./images/pic12.jpg" class="blog-post-card-image" />
                            <div class="blog-post-card-container">
                  <span class="blog-post-card-text">
                    <span>Special combinations for nature lovers</span>
                  </span>
                                <span class="blog-post-card-text1">
                    <span>
                      Consectetur adipiscing elit duis tristique sollicitudin
                      nibh
                    </span>
                  </span>
                                <a href="#" class="button">
                                    Read more
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-footer">
            <div class="max-width-container">
                <footer th:replace="fragments/commons::footer"></footer>
            </div>
        </div>
</body>

</html>